/*Font Family*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100&display=swap');

body {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(21,87,103,1) 57%, rgba(15,26,60,1) 100%);
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
  }
  
  
  body.light {
    background: linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(135,195,209,1) 57%, rgba(166,188,255,1) 100%);
    color: #000;
  }

  /*Title of the Music Player*/

  h1 {
    text-align: center;
    font-family: Lato, sans-serif;
    letter-spacing: 12px;
    }

  /*Navigation of the players*/

    nav {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
        justify-content: space-around;
    }

  /*Toggle Moon and Sun*/

  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox:checked + .toggle {
    background: linear-gradient(45deg, rgba(242,238,72,1) 0%, rgba(255,207,26,1) 57%, rgba(255,163,0,1) 100%);
    box-shadow: none;
  }
  
  .checkbox:checked + .toggle {
    transform: rotateY(180deg);
  }
  
  .checkbox:checked + .toggle ul {
    display: none;
  }

  .toggle {
    display: flex;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, rgba(101,101,101,1) 0%, rgba(198,198,198,1) 57%, rgba(235,235,235,1) 100%);
    border-radius: 50px;
    position: relative;
    left: 600px;
    bottom: 35px;
    cursor: pointer;
    margin: auto;
    transition: all 300ms ease-in;
    transform-style: preserve-3d;
  }


/*Button of each player*/

  button {
    font-family: Lato, sans-serif;
    background: linear-gradient(90deg, white);
    background-size: auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300% 300%;
    -webkit-text-fill-color: transparent;
    border: none;
    font-size: 20px;
  }


/*Music player div*/

  #music-player {
        border-radius: 30px;
        background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(218,233,238,1) 57%, rgba(174,226,237,1) 100%);
        padding: 20px; 
        width: 248px;
        height: 500px;  
        margin: auto;
        border: solid 3px #727272;
        -webkit-box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.58); 
        box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.58);
  }

  /*Bar in iphone*/
  .bar {
      
        position: relative;
        left: 67px;
        bottom: 20px;
        width: 115px;
        height:15px;
        background: #727272;
        border-radius: 0px 0px 5px 5px;
        opacity: 0.7;
        padding: 0px;
  }

  /*Album Cover*/
  #album-cover {
      background-color: white;
      width: 288px;
      height: 288px;
      position: relative;
      right: 20px;
      top: 15px;
      
  }

  /*Buttons*/
#buttons {
    position:relative;
    left: 53px;
    bottom: 7px;
    color: grey;
}
#prev {
    position: relative;
    right: 28px;
}
#next {
    position: relative;
    left: 28px;
}

/*H2 and H4 - title and artist*/

#title-song {
    font-family: Lato, sans-serif;
    color: #000;
    position: relative;
    top: 5px;
    left: 4px;
}

#title-artist {
    font-family: Lato, sans-serif;
    color: #000;
    position: relative;
    bottom: 15px;
    left: 4px;
}

#song-favorites {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#song-one {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}

#song-two {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}

#song-three {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}

#song-four {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}